<!-- Sub Header -->
<div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Aashirwad Institute of Teachers</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>
              <li><a href="#" aria-label="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" aria-label="Instagram"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" aria-label="YouTube"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#" aria-label="WhatsApp"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">
                        <img src="assets/images/logo3.png" alt="Aashirwad EduVerse Logo" class="logo-image">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li><a href="index.html" data-nav-page="index">Home</a></li>
                          <li><a href="about.html" data-nav-page="about">About</a></li>
                          <li><a href="courses.html" data-nav-page="courses">Courses</a></li>
                          <li><a href="app.html" data-nav-page="app">Mobile App</a></li>
                          <li><a href="contact.html" data-nav-page="contact">Contact Us</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->